
.botaoBonito {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}
.botaoBonito {
  --primary-color: #e31b1b;
  --hovered-color: #E0B300;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.botaoBonito p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

.botaoBonito::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.botaoBonito p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "Avaliações";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.botaoBonito:hover::after {
  width: 100%;
}

.botaoBonito:hover p::before {
  width: 100%;
}

.botaoBonito:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

.botaoBonito svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}
