
  #graficoMedia {
    max-width: 600px;
    max-height: 400px;
    width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }

  #radarCharts canvas {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }

  #radarCharts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

